
#buttonka {
	background: url(../themes/images/interface/sprite.png) no-repeat -362px 0;
	height: 32px;
	width: 92px;
	margin: 0;
	color: #996633;
	text-shadow: 0 1px 0 rgba(255, 255, 255, 0.4);
	border: none;
	padding: 0 0 3px 0;
	font-weight: bold;
}

#buttonka:hover {
	background: url(../themes/images/interface/sprite.png) no-repeat -362px -33px;
	color: #996633;
	cursor: pointer;
}

#buttonka-text {
	width: 196px;
	height: 24px;
	border-radius: 5px;
	border: 2px solid #DBDBDB;
	margin-bottom: 5px;
	border-radius: 2px;
	font-weight: 12px;
}

#buttonka-text:hover {
	border-radius: 5px;
	border: 2px solid #000000;
	font-weight: bold;
}
