#buttonka{ margin-bottom: 5px; border:1px solid #c1c5ca;line-height:30px;font-family:Ubuntu;font-size:14px;-moz-border-radius:3px;-webkit-border-radius:3px;background:url("../themes/images/interface/button.png") repeat-x 0 0;display:block;color:#7a7e87;text-shadow:0 1px 0 #fff;text-align:center;padding:0 15px
border-radius: 5px;
border: 2px solid #DBDBDB;
margin-bottom: 5px;
height:	27px;
}
#buttonka:hover{text-decoration:none;color:#474e57
border-radius: 5px;
border: 2px solid #000000;
font-weight: normal;
}

